button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  text-align: center;
  background-color: #897bed;
}

.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  margin: auto;
  background: url(img/space-background.jpg) center/cover;
  border-radius: 20px;
}

.game__header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.game__button {
  width: 45px;
  height: 45px;
  background-color: #889bba;
  border: 4px solid black;
  font-size: 26px;
  transition: transform 300ms ease-in;
}

.game__timer {
  width: 75px;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  font-size: 26px;
  margin-top: 6px;
  border-radius: 15px;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__score {
  text-align: center;
  width: 35px;
  height: 35px;
  margin-top: 8px;
  font-size: 30px;
  border-radius: 50%;
  border: 3px solid black;
  background-color: #69f0e5;
  color: white;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__explanation {
  display: block;
  width: 400px;
  height: 240px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #00000090;
  border-radius: 20px;
  color: white;
  transform: translateY(-140%);
}

.game__explanation--hide {
  display: none;
}

.game__title {
  width: 200px;
  /* height: 55px; */
  /* font-style: bold; */
  /* font-weight: bold; */
  /* font-size: 28px; */
  margin: 15px 0px 15px 0px;
  /* color: #FFE81F; */
}

.game__subtitle {
  font-size: 16x;
  margin: 0px 0px 15px 0px;
}

.game__message {
  display: block;
  color: white;
  cursor: auto;
  user-select: none;
  font-size: 20px;
  line-height: 100%;
  color: #FFE81F;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.pop-up {
  display: block;
  width: 400px;
  height: 120px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #00000090;
  border-radius: 20px;
  color: white;
  transform: translateY(-150%);
}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 21px;
  background-color: #889bba;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up__message {
  display: block;
  font-size: 38px;
}

#spaceship:hover,
#alien:hover {
  transform: scale(1.1);
}
