body {
  background-image: url("img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  position: fixed;
}

.ground { 
  /* position: relative; */
  /* background-color: aquamarine; */
}

.counting {
  display: none;
}

.timer {
  display: none;
}

.footer {
  display: none;
}